# server/.air.toml
root = "."
tmp_dir = "tmp"

[build]
  # 変更を検知した時に実行するビルドコマンド
  cmd = "go build -o ./tmp/main ."

  # ビルドしたバイナリの保存先
  # bin = "./tmp/main"
  entrypoint = "./tmp/main"

  # 監視する拡張子（これらが保存されると再起動する）
  include_ext = ["go", "tpl", "tmpl", "html", "sql", "env"]

  # 無視するディレクトリ
  exclude_dir = ["assets", "tmp", "vendor", "test"]

  # ビルドが成功した後に実行するバイナリ
  # full_bin = "./tmp/main"

  bin = "tmp"

  # ファイル変更から再ビルドまでの待機時間(ms)
  delay = 1000

  # ビルドエラーが起きた時に古いバイナリを動かし続けるか
  stop_on_error = true

[log]
  time = true

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"